// Imports
@import 'utilities/variable',
        'utilities/helpers',
        'utilities/elements',
        'utilities/typography';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    font-size: 16px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    .screen-wrapper {
        width: 940px;
        height: 752px;
        border-radius: 16px;
        background-color: $dark-blue;
        margin-right: 48px;
        position: relative;
    }

    #welcome-screen,
    #initial-screen,
    > article > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #welcome-screen {
        #bank-logo {
            display: flex;
            justify-content: center;
            position: absolute;
            width: 100%;
            top: 30%;
    
            img {
                width: 280px;
            }
        }
    
        #welcome-text {
            position: absolute;
            bottom: 20%;
            width: 100%;
        }
    }

    #cash-withdrawal-screen,
    #universal-screen {
        .enter-amount, 
        .enter-pin {
            #main-action .content {
                width: 100%;

                form {
                    margin-bottom: 72px;
                }
            }
        }
    }

    #balance-inquiry-screen {
        .show-amount {
            .available-amount {
                margin: 8px 0px 72px 0px;
                color: $light-blue;
                font-family: 'Rubik', sans-serif;
                font-size: 1em;
                padding: 16px;
                border: 1px solid $light-blue;
                border-radius: 5px;
            }
        }
    }

    #pin-code-screen {
        &.old-pin,
        &.new-pin {
            #main-action .content {
                width: 100%;

                form {
                    margin-bottom: 72px;
                }
            }
        }

        &.new-pin {
            form > div {
                margin-bottom: 32px;
            }
        }
    }

    #actions {
        width: 300px;
    
        #card-insert {
            background-color: $light-gray;
            height: 50px;
            border-radius: 24px;
            position: relative;
            padding: 30px;
    
            > #card {
                background-color: $dark-blue;
                border-radius: 0px 0px 8px 8px;
                padding: 10px;
                height: 100px;
                position: relative;
                transition: all 3s;
    
                > p {
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    right: 0;
                    color: $red;
                }
    
                &.insert {
                    transition: all 3s;
                    height: 40px;
                }
            }
        }
    
        > #keypad {
            display: grid;
            // grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            text-align: center;
            margin-top: 150px;
    
            > a {
                font-family: 'Rubik', sans-serif;
                font-size: 1em;
                color: $dark-blue;
                width: 100%;
                padding: 24px 8px;
                text-decoration: none;
                background-color: $light-gray;
                border: 1px solid $gray;
                border-radius: 8px;
    
                &:active {
                    color: $light-blue;
                }
    
                &.cancel {
                    background-color: #d90429;
                    
                }
    
                &.clear {
                    background-color: #fcbf49;
                    
                }
    
                &.enter {
                    background-color: #2d6a4f;
                }
    
                &.back {
                    display: none;
                    background-color: #888888;
                }
            }
        }
    }
}