// Imports
@import 'utilities/variable',
        'utilities/helpers',
        'utilities/elements',
        'utilities/typography';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    font-size: 16px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    width: 940px;
    height: 752px;
    background-color: $dark-blue;

    #welcome-screen {
        position: relative;

        #bank-logo {
            display: flex;
            justify-content: center;
            position: absolute;
            width: 100%;
            top: 30%;
    
            img {
                width: 280px;
            }
        }
    
        #welcome-text {
            position: absolute;
            bottom: 20%;
            width: 100%;
        }
    }

    #cash-withdrawal-screen {
        &.exact-amount {
            button {
                width: 180px;
            }
        }

        &.enter-amount, 
        &.enter-pin, {
            #main-action .content {
                width: 100%;

                form {
                    margin-bottom: 72px;
                }
            }
        }
    }

    #balance-inquiry-screen {
        &.show-amount {
            .available-amount {
                margin: 8px 0px 72px 0px;
                color: $light-blue;
                font-family: 'Rubik', sans-serif;
                font-size: 1em;
                padding: 16px;
                border: 1px solid $light-blue;
                border-radius: 5px;
            }
        }
    }
}