@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.grid.layout-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 130px 500px;
  grid-template-areas: "head head" "main main";
}
.grid.layout-one .head {
  grid-area: head;
  padding-top: 20px;
  padding-left: 20px;
}
.grid.layout-one .head img {
  width: 100px;
}
.grid.layout-one .main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}
.grid.layout-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 130px 500px;
  grid-template-areas: "head head" "aside main";
}
.grid.layout-two .head {
  grid-area: head;
  padding-top: 20px;
  padding-left: 20px;
}
.grid.layout-two .head img {
  width: 100px;
}
.grid.layout-two .aside {
  grid-area: aside;
  display: flex;
  justify-content: right;
  align-items: center;
  border-right: 1px solid #5398BE;
  padding: 30px;
}
.grid.layout-two .main {
  grid-area: main;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 30px;
}
.grid.layout-two .main button {
  margin-bottom: 32px;
}
.grid.layout-two .main button:last-of-type {
  margin-bottom: 0px;
}

button {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  padding: 16px 0px;
  width: 350px;
  border-radius: 5px;
  background-color: #5398BE;
  border: 1px solid #5398BE;
  color: #FFFFFF;
  cursor: pointer;
}
button:active {
  background-color: #4581A2;
  border: 1px solid #4581A2;
}

form label {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Lato", sans-serif;
  color: #5398BE;
}
form input[type=number],
form input[type=password] {
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  padding: 16px;
  margin-top: 8px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #CCCCCC;
}
form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0px;
  font-family: "Rubik", sans-serif;
  color: #5398BE;
  font-weight: bold;
  line-height: 1.2em;
}

h1, .h1 {
  font-size: 2.488em;
}

h2, .h2 {
  font-size: 2.074em;
}

h3, .h3 {
  font-size: 1.728em;
}

h4, .h4 {
  font-size: 1.44em;
}

h5, .h5 {
  font-size: 1.2em;
}

p {
  margin: 0px;
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Lato", sans-serif;
  color: #5398BE;
}
p.large {
  font-size: 1.5em;
}
p.text-center {
  text-align: center;
}
p.text-left {
  text-align: left;
}
p.text-right {
  text-align: right;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: 16px;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #CCCCCC;
  display: flex;
  justify-content: center;
  align-items: center;
}

#screen .screen-wrapper {
  width: 940px;
  height: 752px;
  border-radius: 16px;
  background-color: #140F2D;
  margin-right: 48px;
  position: relative;
}
#screen #welcome-screen,
#screen #initial-screen,
#screen > article > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#screen #welcome-screen #bank-logo {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 30%;
}
#screen #welcome-screen #bank-logo img {
  width: 280px;
}
#screen #welcome-screen #welcome-text {
  position: absolute;
  bottom: 20%;
  width: 100%;
}
#screen #cash-withdrawal-screen .enter-amount #main-action .content,
#screen #cash-withdrawal-screen .enter-pin #main-action .content,
#screen #universal-screen .enter-amount #main-action .content,
#screen #universal-screen .enter-pin #main-action .content {
  width: 100%;
}
#screen #cash-withdrawal-screen .enter-amount #main-action .content form,
#screen #cash-withdrawal-screen .enter-pin #main-action .content form,
#screen #universal-screen .enter-amount #main-action .content form,
#screen #universal-screen .enter-pin #main-action .content form {
  margin-bottom: 72px;
}
#screen #balance-inquiry-screen.show-amount .available-amount {
  margin: 8px 0px 72px 0px;
  color: #5398BE;
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  padding: 16px;
  border: 1px solid #5398BE;
  border-radius: 5px;
}
#screen #pin-code-screen.old-pin #main-action .content, #screen #pin-code-screen.new-pin #main-action .content {
  width: 100%;
}
#screen #pin-code-screen.old-pin #main-action .content form, #screen #pin-code-screen.new-pin #main-action .content form {
  margin-bottom: 72px;
}
#screen #pin-code-screen.new-pin form > div {
  margin-bottom: 32px;
}
#screen #actions {
  width: 300px;
}
#screen #actions #card-insert {
  background-color: #bdbdbd;
  height: 50px;
  border-radius: 24px;
  position: relative;
  padding: 30px;
}
#screen #actions #card-insert > #card {
  background-color: #140F2D;
  border-radius: 0px 0px 8px 8px;
  padding: 10px;
  height: 100px;
  position: relative;
  transition: all 3s;
}
#screen #actions #card-insert > #card > p {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  color: #F26363;
}
#screen #actions #card-insert > #card.insert {
  transition: all 3s;
  height: 40px;
}
#screen #actions > #keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  margin-top: 150px;
}
#screen #actions > #keypad > a {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  color: #140F2D;
  width: 100%;
  padding: 24px 8px;
  text-decoration: none;
  background-color: #bdbdbd;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
}
#screen #actions > #keypad > a:active {
  color: #5398BE;
}
#screen #actions > #keypad > a.cancel {
  background-color: #d90429;
}
#screen #actions > #keypad > a.clear {
  background-color: #fcbf49;
}
#screen #actions > #keypad > a.enter {
  background-color: #2d6a4f;
}
#screen #actions > #keypad > a.back {
  background-color: #888888;
}