// Button
button {
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    padding: 16px 0px;
    width: 350px;
    border-radius: 5px;
    background-color: $light-blue;
    border: 1px solid $light-blue;
    color: $white;
    cursor: pointer;

    &:active {
        background-color: #4581A2;
        border: 1px solid #4581A2;
    }
}

// Form
form {
    label {
        font-size: 1em;
        line-height: 1.5em;
        font-family: 'Lato', sans-serif;
        color: $light-blue;
    }

    input[type=number],
    input[type=password], {
        width: 100%;
        font-family: 'Rubik', sans-serif;
        font-size: 1em;
        padding: 16px;
        margin-top: 8px;
        border-radius: 5px;
        box-sizing: border-box;
        border: 2px solid $gray;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}